---
layout: page
title: About Me
permalink: /about/
---
<div class="about-wrapper">

  {% for p in site.about %}
  {% assign content = p.paragraph %}
  {% for link in p.links %}
  {% if link.external %}
  {% assign target = '_blank' %}
  {% else %}
  {% assign target = '_self' %}
  {% endif %}
  {% assign a = '<a class="link-1" href="' | append: link.url | append: '" target="' | append: target | append: '">' | append: link.name | append: '</a>' %}
  {% assign content = content | replace_first: '?link?', a %}
  {% endfor %}
  {% if p.text_align %}
  {% assign alignment = p.text_align %}
  {% else %}
  {% assign alignment = 'left' %}
  {% endif %}
  <p style="text-align: {{ alignment }}">{{ content }}</p>
  {% endfor%}


  <div class="carosouel">
    <div>
      <a href="../assets/img/portfolio/inthebedroom/kenny.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/kenny.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/Victoria.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/Victoria.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/momandjohn.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/momandjohn.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/mothermolly.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/mothermolly.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/perizach.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/perizach.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/Mina.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/Mina.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/dadveronica.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/dadveronica.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/emily.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/emily.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/kevin.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/kevin.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/img/portfolio/inthebedroom/dinaandroco.jpg">
        <img height="500" data-lazy="../assets/img/portfolio/inthebedroom/thumbnails/dinaandroco.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgBigSur_2.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/BigSur_2.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgCBCWorkFun.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/CBCWorkFun.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgboobsbutts.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/boobsbutts.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgCollage_CreepyCrunch.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/Collage_CreepyCrunch.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgCollage_JennyBukowski.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/Collage_JennyBukowski.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgDingoZine.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/DingoZine.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgfrontalboobsbutts.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/frontalboobsbutts.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imghands.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/hands.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgJose.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/Jose.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgkennyvenus.tiff">
        <img height="350" data-lazy="../assets/img/portfolio/kennyvenus.tiff"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgKhai.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/Khai.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgSaybrookSpaFinish.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/SaybrookSpaFinish.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgUrbanSucculentFinished.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/UrbanSucculentFinished.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgcollage01.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/collage01.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgcollage02.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/collage02.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgcollage03.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/collage03.jpg"/>
      </a>
    </div>

    <div>
      <a href="../assets/imgcollage04.jpg">
        <img height="350" data-lazy="../assets/img/portfolio/collage04.jpg"/>
      </a>
    </div>

  </div>

</div>

