---
layout: page
title: About Me
permalink: /about/
---
<div class="about-wrapper">

  {% for p in site.about %}
  {% assign content = p.paragraph %}
  {% for link in p.links %}
  {% if link.external %}
  {% assign target = '_blank' %}
  {% else %}
  {% assign target = '_self' %}
  {% endif %}
  {% assign a = '<a class="link-1" href="' | append: link.url | append: '" target="' | append: target | append: '">' | append: link.name | append: '</a>' %}
  {% assign content = content | replace_first: '?link?', a %}
  {% endfor %}
  {% if p.text_align %}
  {% assign alignment = p.text_align %}
  {% else %}
  {% assign alignment = 'left' %}
  {% endif %}
  <p style="text-align: {{ alignment }}">{{ content }}</p>
  {% endfor%}


  <div class="carosouel">
    <div><img  height="140" data-lazy="../assets/img/portfolio/BigSur_2.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/CBCWorkFun.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/boobsbutts.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/Collage_CreepyCrunch.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/Collage_JennyBukowski.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/dadveronica.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/dinaandroco.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/DingoZine.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/emily.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/frontalboobsbutts.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/hands.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/Jose.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/kenny.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/kennyvenus.tiff"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/kevin.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/Khai.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/Mina.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/momandjohn.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/mothermolly.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/perizach.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/SaybrookSpaFinish.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/UrbanSucculentFinished.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/Victoria.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/collage01.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/collage02.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/collage03.jpg"/></div>
    <div><img  height="140" data-lazy="../assets/img/portfolio/collage04.jpg"/></div>
  </div>

</div>

